<ion-view title="Search" ng-init="getPos()">
  <ion-content id = "search">
    <ion-toggle id ="search_switch" toggle-class="toggle-calm" ng-model="searchMode.checked" ng-checked="searchMode.checked" ng-change="clearResults()">
      {{ searchMode.text }}
    </ion-toggle>

    <div class="list row" ng-show="searchMode.checked == false">
      <label class="item item-input col-75">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search.text" ng-keyup="$event.keyCode == 13 && search()">
      </label>
      <label class="item item-input item-select col-25">
        <select ng-model="search.by" ng-init="search.by = searchOptions[0]" ng-options="option for option in searchOptions">
        </select>
      </label>
    </div>

    <div class="list row" ng-show="searchMode.checked == true">
      <label class="item item-input item-select col">
        <div class="input-label">
          Range (Km)
        </div>
        <ionic-numberpicker input-obj="numberPickerObject">
          <button class="button button-icon button-clear" ng-show="hasPosition">
            <span ng-bind-html="range"></span>
          </button>
        </ionic-numberpicker>
      </label>
    </div>

    <div class="resultsContainer" ng-if="showNearStops">
      <h1>Stops near you</h1>
      <ion-list>
        <ion-item ng-repeat="s in stops" ng-click="viewStop(s)">
          {{s.stop_name}}
        </ion-item>
      </ion-list>
    </div>

    <div class="resultsContainer" ng-if="showResults">
      <h1>Search results</h1>
      <ion-list>
        <ion-item ng-repeat="s in searchResultStops" ng-click="viewStop(s)" ng-if="search.by == searchOptions[0]">
          {{s.stop_name}} - {{ s.distance }}
        </ion-item> <!-- ui-sref="app.stop({id: s.id})" -->
        <ion-item ng-repeat="s in searchResultRoutes" ng-click="viewRoute(s)" ng-if="search.by == searchOptions[1]">
          {{s.route_short_name}} - {{s.route_long_name}}
        </ion-item>
      </ion-list>
    </div>

    <!--<div class="modal-block">

      <div class="modal-background">
        <div class="modal-container">
          <div class="modal-title">Connection problem</div>
          <div class="modal-body">Check your internet connection...</div>
          <div class="modal-buttons">Try again</div>
        </div>
      </div>
    </div>-->
  </ion-content>
</ion-view>


