<ion-view title="{{ stop.stop_name }}" data-ng-init="getStop()">

  <ion-nav-bar class="bar-calm nav-title-slide-ios7">
      <!--<ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
          Back
      </ion-nav-back-button>-->
      <ion-nav-buttons side="right">
        <button ng-if="!stop_in_favorites" class="button button-clear button-light" ng-click="addStopToFavorites()">
          <i class="ion-ios-star-outline" style="font-size: 2rem"></i>
        </button>

        <button ng-if="stop_in_favorites" class="button button-clear button-light" ng-click="removeStopFromFavorites()">
          <i class="ion-ios-star" style="font-size: 2rem"></i>
        </button>

      </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content id="stop_view">
    <input type="hidden" id="coord" lat="{{stop.point.coordinates[1]}}" lon="{{stop.point.coordinates[0]}}">
    <label class="row" id="top_info">
      <button class = "button button-icon col col-50" ng-click="showMapBoolean=!showMapBoolean" ng-init="showMapBoolean=false">
        <span ng-show="!showMapboolean"><i class="ion-map"></i> Toggle Map</span>
      </button>

      <div class = "button col col-50">
        <i class="ion-android-walk"></i> {{ stop.distance }}Km
      </div>
    </label>

    <ion-list ng-show="!showMapBoolean">
      <h1>Routes</h1>
      <ion-item ng-repeat="route in stop._routes" ui-sref="app.stop.schedule({id: stop.id, route_id: route.id})">
        {{route.route_short_name}} - {{ route.route_long_name}}
      </ion-item>
    </ion-list>

    <div style="height:70vh" id="stopmap" ng-if="showMapBoolean" data-tap-disabled="true" ng-controller="StopMapCtrl" ></div>
  </ion-content>
</ion-view>
