<ion-view title="Stops" ng-init="getPos()">
<ion-content>
<h1>Position
	<button class="button button-icon button-clear" ng-click="getPos()">Refresh my position</button></h1>
	<h3>Latitude: {{poslat}} | Longitude: {{poslon}}</h3>
	<h3>Range (km): {{ range }}</h3>
	<ionic-numberpicker input-obj="numberPickerObject">
		<button class="button button-icon button-clear" ng-show="hasPosition">
			<i class="fa fa-dot-circle-o" aria-hidden="true"></i> Get stops near you
		</button> 
	</ionic-numberpicker>
	<div>
		<h1>Stops near you</h1>
		<ion-list>
		  <ion-item ng-repeat="stop in stops" href="#/app/stop/{{stop.id}}">
		  	Name: {{stop.stop_name}}
		  </ion-item>
		</ion-list>
	</div>
</ion-content>
</ion-view>