<ion-view title = "Trip Planner">
  <ion-content>
    <form id = "trip_planner_form">
      <div class = "form-group">
        <label for = "startName">Start</label>
        <div id="startName"></div>
        <div>
          <input id="pac-input-start" class="controls" type="text" placeholder="Search Start Place">
        </div>
      </div>

      <div class = "form-group">
        <label for = "endName">End</label>
        <div id="endName"></div>
        <div>
          <input id="pac-input-end" class="controls" type="text" placeholder="Search End Place">
        </div>
      </div>
    </form>

    <button id = "go-button" class = "button controls" ng-click = "getTrip()"><i class="icon ion-android-bus"></i> Go</button>

    <div style = "height:100vh" id = "tripplannermap" data-tap-disabled = "true" ng-controller = "TripPlannerMapCtrl"></div>
    <div id = "startMarker" hidden = "true" lat = "" lon = ""></div>
    <div id = "endMarker" hidden = "true" lat = "" lon = ""></div>
  </ion-content>
</ion-view>
