<ion-view title="Trip" data-ng-init="showTripSteps()">
  <ion-content id="trip_steps">
    <ion-item><span style="float:left">Walk time:</span> <span style="float:right">{{trip.walkTime / 60 | number: 2}}min</span></ion-item>
    <ion-item><span style="float:left">Walk distance:</span> <span style="float:right">{{trip.walkDistance | number: 2}}m</span></ion-item>
    <ion-item><span style="float:left">Waiting time:</span> <span style="float:right">{{trip.waitingTime}}min</span></ion-item>
    <ion-item><span style="float:left">Transfers:</span> <span style="float:right">{{trip.transfers}}</span></ion-item>

    <h1>Steps</h1>
    <ion-list>
      <ion-item ng-repeat="leg in trip.legs track by $index">
			<span ng-if="leg.mode == 'BUS'">
				<p class="item-note">Bus <i class="ion-android-bus"></i></p>
				<p>{{leg.routeShortName}} - {{leg.routeLongName}}</p>
				<p>{{leg.from.name}} - {{leg.to.name}}</p>
			</span>
			<span ng-if="leg.mode == 'WALK'" ui-sref=".walk({step_index: $index})">
				<p class="item-note">Walk <i class="ion-android-walk"></i></p>
				<p>Distance: {{leg.distance | number: 2}}m</p>
			</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
