<ion-view title="Trip" data-ng-init="showTrip()">
<ion-content>
	<button class="button button-full button-stable icon-left ion-model-s" ui-sref="app.uber">
		Get uber estimate
	</button>

	<ion-list>
		<ion-item ng-repeat="trip in trips">
			<p>walk time: {{trip.walkTime / 60 | number: 2}}min</p>
			<p>walk distance: {{trip.walkDistance | number: 2}}m</p>
			<p>waiting time: {{trip.waitingTime}}min</p>
			<p>transfers: {{trip.transfers}}</p>

			<ion-list>
				<ion-item ng-repeat="step in trip.legs[0].steps">
					{{step}}
				</ion-item>
			</ion-list>
				
		</ion-item>
	</ion-list>
</ion-content>
</ion-view>
